header{
    width: 100%;
    height: 12vh;
    position: fixed !important; 
    background-color: #0a0026;
    background-size: auto;
    top: 0;
}
.menuHeader h1{
    font-weight: 400;
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}
.menuHeader ul{
    font-weight: 100;
    margin: 20;
    padding: 0;
    text-align: right;
    margin-top: -40px;
}
.menuHeader a{
    color: white !important;
}
.menuHeader a:hover{
    color:#0029cf !important;
    text-decoration: none;
    cursor: pointer;
}
.menuHeader li{
    display: inline;
    margin-right: 50px;
}
body {
    background-color: #0F0039 !important;
    color: white !important;
    padding-top: 120px;
    display: flex;
}
#foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 400px; 
    border-radius: 15px;
    border: 2px solid #002f64;
    width: 800px; 
    height: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(to right, #0a0065, #040025);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
form legend {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.fila {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 40px; 
    width: 400px; 
}

label {
    width: 750px; 
    font-weight: bold;
    font-size: 20px;
    text-align: left; 
    padding: 10px;
}

input {
    width: 200px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; 
}
button {

    color: white;
    padding: 10px;
    border:color(from color srgb r g b);
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: 150px; 
    display: block; 
    padding-left: -30px auto;
} 
.boton {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.boton button {
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 350px; 
}

button:hover {
    background-color: #0056b3;
}
input[type="file"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
